Repository fedspendingtransparency/usaspending-api, pull requests merged in 2025-08, with the labels that each got.

#4449 Downmerge of hotfix into Staging
  usaspending_api/references/management/commands/load_disaster_emergency_fund_codes.py
Labels: down merge

#4451 Downmerege hotfix into QAT
  usaspending_api/references/management/commands/load_disaster_emergency_fund_codes.py
Labels: down merge

#4464 Sprint 207 Prod Deploy
  .env.template
  .github/workflows/test-non-spark-integration-signal-handling.yaml
  .github/workflows/test-non-spark-integration.yaml
  .github/workflows/test-spark-integration-load-to-from-delta.yaml
  .github/workflows/test-spark-integration-load-transactions-fabs-fpds.yaml
  .github/workflows/test-spark-integration-load-transactions-lookup.yaml
  .github/workflows/test-spark-integration-other.yaml
  .github/workflows/test-unit-signal-handling.yaml
  .github/workflows/test-unit.yaml
  usaspending_api/accounts/tests/integration/test_federal_account_program_activities.py
  usaspending_api/accounts/urls_federal_accounts_v2.py
  usaspending_api/accounts/v2/views/federal_account_base.py
  usaspending_api/accounts/v2/views/federal_account_program_activities.py
  usaspending_api/agency/tests/integration/conftest.py
  usaspending_api/agency/tests/integration/test_agency_tas_program_activity.py
  usaspending_api/agency/v2/views/tas_program_activity_list.py
  usaspending_api/api_contracts/contracts/v2/agency/treasury_account/tas/program_activity.md
  usaspending_api/api_contracts/contracts/v2/federal_accounts/federal_account_code/program_activities.md
  usaspending_api/api_docs/markdown/endpoints.md
  usaspending_api/awards/delta_models/awards.py
  usaspending_api/awards/migrations/0095_auto_20220617_1620.py
  usaspending_api/awards/migrations/0098_auto_20221215_2029.py
  usaspending_api/awards/migrations/0111_alter_financialaccountsbyawards_program_activity_reporting_key.py
  usaspending_api/awards/migrations/0112_move_vw_awards_creation_step.py
  usaspending_api/awards/models/award.py
  usaspending_api/awards/models/financial_accounts_by_awards.py
  usaspending_api/broker/management/commands/load_broker_table.py
  usaspending_api/common/data_classes.py
  usaspending_api/common/etl/spark.py
  usaspending_api/common/experimental_api_flags.py
  usaspending_api/common/spark/jobs.py
  usaspending_api/database_scripts/etl/award_delta_view.sql
  usaspending_api/download/management/commands/delta_downloads/builders.py
  usaspending_api/download/tests/integration/test_account_download_dataframe_builder.py
  usaspending_api/download/tests/integration/test_download_accounts.py
  usaspending_api/download/v2/base_download_viewset.py
  usaspending_api/etl/elasticsearch_loader_helpers/delete_data.py
  usaspending_api/etl/es_award_template.json
  usaspending_api/etl/management/commands/load_transactions_in_delta.py
  usaspending_api/financial_activities/migrations/0014_alter_financialaccountsbyprogramactivityobjectclass_program_activity_reporting_key.py
  usaspending_api/financial_activities/models.py
  usaspending_api/references/management/commands/load_park.py
  usaspending_api/references/migrations/0070_programactivitypark.py
  usaspending_api/references/models/__init__.py
  usaspending_api/references/models/program_activity_park.py
  usaspending_api/references/tests/integration/test_load_park.py
  usaspending_api/search/delta_models/award_search.py
  usaspending_api/search/migrations/0058_add_transaction_count_field.py
  usaspending_api/search/models/award_search.py
  usaspending_api/search/tests/integration/test_spending_by_subaward_grouped.py
  usaspending_api/search/tests/integration/test_spending_by_transaction_grouped.py
  usaspending_api/search/v2/views/spending_by_subaward_grouped.py
  usaspending_api/search/v2/views/spending_by_transaction_grouped.py
  usaspending_api/settings.py
Labels: env promotion

#4465 [DEV-13179] Add program_activity_reporting_key to financial_accounts_by_awards delta model
  usaspending_api/awards/delta_models/financial_accounts_by_awards.py
Labels: hotfix

#4467 Ftr/dev 13179 delta file c park
  usaspending_api/awards/delta_models/financial_accounts_by_awards.py
Labels: down merge
